@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-purple: #7744eb;
  --color-green: #03cea4;
  --color-blue: #009eff;
  --color-black: #090909;
  --color-white: #f0f0f0;
  --color-background: #060214;
}

@font-face {
  font-family: SequelBlack;
  src: url(../fonts/sequelblack.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: "Archivo", sans-serif;
  color: var(--color-white);
}

html {
  width: 100vw !important;
  overflow-x: hidden !important;
}

body {
  background-color: var(--color-background);
  scroll-behavior: smooth;
  width: 100vw !important;
  overflow-x: hidden !important;
}

.middle {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

footer {
  padding-block: 20px;
  display: flex;
  flex-direction: column-reverse;
  place-items: center;
  gap: 20px;
  color: var(--color-white);
}

footer .links {
  display: flex;
  gap: 20px;
}

footer .links .social {
  display: grid;
  place-items: center;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  background-color: var(--color-white);
  opacity: 0.6;
  transition-duration: 0.3s;
}

footer .links .social:hover {
  opacity: 1;
}

footer .links .social img {
  width: 60%;
  aspect-ratio: 1/1;
}

footer .links .social:nth-child(1) img {
  filter: invert(1);
}
