.fivem {
  display: flex;
  flex-direction: column;
  gap: 70px;
  justify-content: center;
  align-items: center;
  padding: 70px 50px;
  padding-top: 200px;
  width: 100%;
  position: relative;
  z-index: 90;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

section.bg-green {
  --w: 800px;
  --h: 1000px;
  --o: 0.3;
}

section.bg-green.active {
  --w: 1200px !important;
  --h: 1500px !important;
  --o: 0.8 !important;
}

section.bg-green::after {
  content: "";
  width: var(--w);
  height: var(--h);
  position: absolute;
  background: radial-gradient(
    34% 27% at 50% 57%,
    var(--color-green) 0%,
    transparent 100%
  );
  z-index: -1;

  transition-duration: 0.5s;
  transition-delay: 0.3s;
  transition-timing-function: ease-out;

  opacity: var(--o);

  animation: 10s blob infinite alternate ease-in-out;
}

@keyframes blob {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(30deg);
  }
  40% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(20deg);
  }
  80% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(15deg);
  }
}

.fivem header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.fivem header h1.title {
  color: var(--color-green);
  font-family: SequelBlack;
}

.fivem header p.description {
  color: var(--color-green);
  max-width: 400px;
  opacity: 0.6;
}

section.fivem .sectionBody {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.scriptCard {
  position: relative;

  background-color: var(--color-white);
  border-radius: 20px;
  padding: 20px;
  width: min-content;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  transition-duration: 0.4s;

  z-index: 1;
}

.scriptCard:hover {
  transform: scale(1.05);
}

.scriptCard:focus {
  transform: scale(1.02);
}

.scriptCard .thumbnail {
  border-radius: 10px;
  width: 400px;
}

.scriptCard .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.scriptCard .details .info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.scriptCard .details .info > * {
  color: var(--color-black);
}

.scriptCard .details .info > h1 {
  font-size: 20px;
}

.scriptCard .details .info > h2 {
  font-size: 16px;
  color: var(--color-purple);
}

.scriptCard .captureMouse {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 101;
  cursor: none;
}

.scriptCard .mouse {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 2px solid var(--color-white);
  background-color: rgba(119, 68, 235, 0.4);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-sizing: content-box;
  display: grid;
  place-items: center;
  transform: translate(-50%, -50%);

  top: 0;
  left: 0;

  opacity: 0;
  z-index: 100;
}

.scriptCard .mouse > * {
  transform: rotate(-45deg);
}

.tebexStore {
  --tebex-bg: #0a0a0c;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  background-color: var(--tebex-bg);
  border-radius: 20px;
  width: 100%;
  font-size: 18px;
  position: relative;
  transition-duration: 0.4s;

  display: none;
}

.fivem.active .tebexStore {
  display: flex;
}

.tebexStore > img {
  aspect-ratio: 9/16;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.tebexStore:hover {
  transform: scale(1.05);
}
.tebexStore:focus {
  transform: scale(1.02);
}

@media screen and (max-width: 530px) {
  section.fivem header {
    h1 {
      font-size: 20px;
    }
    p {
      width: 300px;
    }
  }
  section.fivem .sectionBody .scriptCard {
    padding: 15px;
    width: 380px;
  }

  section.fivem .sectionBody .scriptCard img {
    width: 100%;
  }

  section.bg-green.active {
    --o: 0.55 !important;
  }

  .scriptCard .details .info > h1 {
    font-size: 18px;
  }

  .scriptCard .details .info > h2 {
    font-size: 14px;
  }

  .tebexStore {
    font-size: 17px;
  }
}
